<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myBookstore</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">



</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand mx-4" href="#">myBookstore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">


            <li class="nav-item active">
                <a class="nav-link" sec:authorize="not hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')"  th:href="@{/books}">All Books <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')"  th:href="@{/books/all}">All Books <span class="sr-only"></span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" sec:authorize="not hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')"  th:href="@{/books/genre/ROMANCE}">Romance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')"  th:href="@{/books/genre/all/ROMANCE}">Romance</a>
            </li>



            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/NON_FICTION}">Non-Fiction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/GRAPHIC_NOVEL}">Graphic Novels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/SCIENCE_FICTION}">Science Fiction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/FANTASY}">Fantasy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/CLASSIC}">Classics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/FICTION}">Fiction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/YOUNG_ADULT}">Young Adult</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <p sec:authorize="hasRole('ROLE_CUSTOMER')">
            <li class="nav-item">
                <a class="nav-link" href="#">myPurchases</a>
            </li>
            </p>
            <p sec:authorize="hasRole('ROLE_EMPLOYEE')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/requests/all}">Purchase Requests</a>
            </li>

            <li class="nav-item" sec:authorize="hasRole('ROLE_EMPLOYEE')">
                <a class="nav-link" th:href="@{/books/newAddPage}">Add Book</a>
            </li>

            </p>
            <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                <a class="btn btn-info mx-1" th:href="@{/showMyLoginPage}">Log In</a>
            </li>

            <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                <a class="btn btn-info mx-1" th:href="@{/showRegistration}">Register</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN', 'ROLE_CUSTOMER')">
                <form action="#" th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-warning mx-1" value="Logout">
                </form>
            </li>




        </ul>
    </div>
</nav>





<table class="table table-hover m-5">
    <thead>
    <tr>
        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">ID</th>
        <th sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" scope="col">Inventory</th>
        <th sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" scope="col">Add</th>
        <th sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" scope="col">Available</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="theBook : ${books}">
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${theBook.id}" />
        <td sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" th:text="${theBook.isbn}" />
        <td th:text="${theBook.title}" />
        <td th:text="${theBook.author}" />
        <td th:text="${theBook.genre.displayValue}" />
        <td sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" th:text="${theBook.inventory}" />
        <td>
            <button sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" type="button" class="btn btn-warning" data-toggle="modal" data-target="#addInventory">
                Add inventory
            </button>

        </td>


        <td sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" th:text="${theBook.available}" />
        <td>
            <a  href="#" data-toggle="modal" data-target="#bookDetails" class="btn btn-primary p-1">Details(Book)</a>
            <a sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" href="#" data-toggle="modal" data-target="#updateBook" class="btn btn-primary p-1">Details(Employee)</a>
        </td>

        <!-- Add Inventory modal -->
        <div class="modal fade" id="addInventory" tabindex="-1" role="dialog" aria-labelledby="addInventory" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addInventory_title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <form th:action="@{/books/inventory-update}" th:object="${theBook}" method="POST">
                            <div class="form-group">
                                <input type="number" class="form-control" id="idAdd" name="id" th:value="${theBook.id}" hidden="hidden">
                            </div>
                            <div class="form-group">
                                <label for="inventoryAdd">Inventory to Add</label>
                                <input type="number" class="form-control" id="inventoryAdd" name="inventory">
                            </div>
                            <button type="submit" class="btn btn-primary mt-5">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- DETAILS MODAL -->
        <div class="modal fade" id="bookDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span th:text="${theBook.title}" class="h1"></span><br><span
                                class="h5">By: <span th:text="${theBook.author}"></span></span>
                        </h5>
                    </div>
                    <div class="modal-body">

                        <p><span th:text="${theBook.description}"></span></p>
                        <hr>
                        <p>Price: $<span th:text="${theBook.price}"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" sec:authorize="hasRole('ROLE_CUSTOMER')">Purchase</button>
                        <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                            <a class="btn btn-info mx-1" th:href="@{/showMyLoginPage}">Log In to Purchase</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>

        <!-- UPDATE MODAL -->
        <div class="modal fade" id="updateBook" tabindex="-1" role="dialog" aria-labelledby="updateModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModal">


                            Update
                        </h5>


                    </div>
                    <div class="modal-body">
                        <form th:action="@{/books/update}" th:object="${theBook}" method="POST">
                            <div class="form-group">

                                <input type="number" class="form-control" id="id" name="id" th:value="${theBook.id}" hidden="hidden">
                            </div>
                            <div class="form-group">
                                <label for="isbn">ISBN:</label>
                                <input type="text" class="form-control" id="isbn" name="isbn" th:value="${theBook.isbn}">
                            </div>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title" th:value="${theBook.title}">
                            </div>
                            <div class="form-group">
                                <label for="author">Author</label>
                                <input type="text" class="form-control" id="author" name="author" th:value="${theBook.author}">
                            </div>
                            <div class="form-group">
                                <label for="publisher">Publisher</label>
                                <input type="text" class="form-control" id="publisher" name="publisher" th:value="${theBook.publisher}">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" rows="6" name="description" th:text="${theBook.description}"></textarea>



                                <label>Genre</label>
                                <div class="form-check" th:each="genreOpt : ${T(com.myBookstore.bookstore.entity.Genre).values()}">
                                    <input class="form-check-input" type="radio" th:id="${genreOpt}" name="genre" th:name="genre" th:value="${genreOpt}"
                                           th:checked="${genreOpt== theBook.genre}" th:text="${genreOpt.displayValue}">
                                </div>


                            <div class="form-group">
                                <label for="price">Price:</label>
                                <input type="number" class="form-control" name="price" id="price" th:value="${theBook.price}">
                            </div>
                            <div class="form-group">
                                <label for="inventory">Inventory:</label>
                                <input type="number" class="form-control" id="inventory" name="inventory" th:value="${theBook.inventory}">
                            </div>
                            <div class="form-group">
                                <label>Available</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="available" id="yes" value="yes"
                                           th:checked="${theBook.available == true}">
                                    <label class="form-check-label" for="yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="available" id="no" value="no"
                                           th:checked="${theBook.available == false}">
                                    <label class="form-check-label" for="no">
                                        No
                                    </label>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary mt-5">Submit</button>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>




<!--PLACE MODAL ABOVE HERE -->
    </tr>
    </tbody>

</table>


<!--&lt;!&ndash; UPDATE MODAL &ndash;&gt;-->
<!--<div class="modal fade" id="updateBook" tabindex="-1" role="dialog" aria-labelledby="updateModal"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="updateModal">-->


<!--                    Update-->


<!--            </div>-->
<!--            <div class="modal-body">-->

<!--                <form>-->
<!--                    <div class="form-group">-->
<!--                        <label for="id">Book Id:</label>-->
<!--                        <input type="number" class="form-control" id="id" placeholder="1">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="isbn">Book Id:</label>-->
<!--                        <input type="text" class="form-control" id="isbn" placeholder="978-0143058144">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="title">Title</label>-->
<!--                        <input type="text" class="form-control" id="title" placeholder="Crime and Punishment">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="publisher">Publisher</label>-->
<!--                        <input type="text" class="form-control" id="publisher" placeholder="Penguin Classics">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="description">Description</label>-->
<!--                        <textarea class="form-control" id="description"-->
<!--                                  rows="6">Raskolnikov, a destitute and desperate former student, wanders through the slums of St Petersburg and commits a random murder without remorse or regret. He imagines himself to be a great man, a Napoleon: acting for a higher purpose beyond conventional moral law. But as he embarks on a dangerous game of cat and mouse with a suspicious police investigator, Raskolnikov is pursued by the growing voice of his conscience and finds the noose of his own guilt tightening around his neck. Only Sonya, a downtrodden sex worker, can offer the chance of redemption.</textarea>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="price">Price:</label>-->
<!--                        <input type="number" class="form-control" id="price" placeholder="19.99">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="inventory">Inventory:</label>-->
<!--                        <input type="number" class="form-control" id="inventory" placeholder="25">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Available</label>-->
<!--                        <div class="form-check">-->
<!--                            <input class="form-check-input" type="radio" name="available" id="yes" value="yes"-->
<!--                                   checked>-->
<!--                            <label class="form-check-label" for="yes">-->
<!--                                Yes-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check">-->
<!--                            <input class="form-check-input" type="radio" name="available" id="no" value="no">-->
<!--                            <label class="form-check-label" for="no">-->
<!--                                No-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <button type="submit" class="btn btn-primary mt-5">Submit</button>-->
<!--                </form>-->

<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>