<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myBookstore</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">



</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand mx-4" href="#">myBookstore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/books}">All Books <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/ROMANCE}">Romance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/NON_FICTION}">Non-Fiction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/GRAPHIC_NOVEL}">Graphic Novels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/SCIENCE_FICTION}">Science Fiction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/FANTASY}">Fantasy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/CLASSIC}">Classics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/FICTION}">Fiction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/genre/YOUNG_ADULT}">Young Adult</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">myPurchases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Purchase Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-info mx-1" href="#">Log In</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning mx-1" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning mx-1" href="#">Logout</a>
            </li>



        </ul>
    </div>
</nav>

<!-- @Id
@GeneratedValue(strategy = GenerationType.IDENTITY)
@Column(name = "id")
private int id;
@Column(name = "isbn")
private String isbn;
@Column(name = "title")
private String title;
@Column(name = "author")
private String author;
@Column(name = "publisher")
private String publisher;
@Column(name = "description")
private String description;
@Column(name = "price")
private double price;

@Column(name = "genre")
@Enumerated(EnumType.STRING)
private Genre genre;

// TODO: images?

@Column(name = "inventory")
private int inventory;
@Column(name = "available")
private boolean available; -->

<table class="table table-hover m-5">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Inventory</th>
        <th scope="col">Available</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="theBook : ${books}">
        <td th:text="${theBook.id}" />
        <td th:text="${theBook.isbn}" />
        <td th:text="${theBook.title}" />
        <td th:text="${theBook.author}" />
        <td th:text="${theBook.genre.displayValue}"/>
        <td th:text="${theBook.inventory}" />
        <td th:text="${theBook.available}" />
        <td>
            <a href="#" data-toggle="modal" data-target="#bookDetails" class="btn btn-primary p-1">Details(Book)</a>
            <a href="#" data-toggle="modal" data-target="#updateBook" class="btn btn-primary p-1">Details(Employee)</a>
        </td>
    </tr>
    </tbody>

</table>
<!-- DETAILS MODAL -->
<div class="modal fade" id="bookDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span class="h1">Crime and Punishment</span><br><span
                        class="h5">By: Fyodor Dostoyevsky</span></h5>

            </div>
            <div class="modal-body">

                <p>Raskolnikov, a destitute and desperate former student, wanders through the slums of St Petersburg
                    and commits a random murder without remorse or regret. He imagines himself to be a great man, a
                    Napoleon: acting for a higher purpose beyond conventional moral law. But as he embarks on a
                    dangerous game of cat and mouse with a suspicious police investigator, Raskolnikov is pursued by
                    the growing voice of his conscience and finds the noose of his own guilt tightening around his
                    neck. Only Sonya, a downtrodden sex worker, can offer the chance of redemption.</p>
                <hr>
                <p>Price: $19.99</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Purchase</button>
            </div>
        </div>
    </div>
</div>

<!-- UPDATE MODAL -->
<div class="modal fade" id="updateBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">


                    Update


            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="id">Book Id:</label>
                        <input type="number" class="form-control" id="id" placeholder="1">
                    </div>
                    <div class="form-group">
                        <label for="isbn">Book Id:</label>
                        <input type="text" class="form-control" id="isbn" placeholder="978-0143058144">
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Crime and Punishment">
                    </div>
                    <div class="form-group">
                        <label for="publisher">Publisher</label>
                        <input type="text" class="form-control" id="publisher" placeholder="Penguin Classics">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description"
                                  rows="6">Raskolnikov, a destitute and desperate former student, wanders through the slums of St Petersburg and commits a random murder without remorse or regret. He imagines himself to be a great man, a Napoleon: acting for a higher purpose beyond conventional moral law. But as he embarks on a dangerous game of cat and mouse with a suspicious police investigator, Raskolnikov is pursued by the growing voice of his conscience and finds the noose of his own guilt tightening around his neck. Only Sonya, a downtrodden sex worker, can offer the chance of redemption.</textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" class="form-control" id="price" placeholder="19.99">
                    </div>
                    <div class="form-group">
                        <label for="inventory">Inventory:</label>
                        <input type="number" class="form-control" id="inventory" placeholder="25">
                    </div>
                    <div class="form-group">
                        <label>Available</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="available" id="yes" value="yes"
                                   checked>
                            <label class="form-check-label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="available" id="no" value="no">
                            <label class="form-check-label" for="no">
                                No
                            </label>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>