<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Spring Boot App - Security Practice</title>
</head>
<body>

<h1>Log In</h1>



<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" class="btn" value="Logout">
</form>

<hr>
<p>

    User: <span sec:authentication="principal.username"> </span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"> </span>
</p>

<p sec:authorize="hasRole('ROLE_EMPLOYEE')"><a th:href="@{/leaders}">Leadership Meeting</a></p>
<p sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/systems}">Systems page</a></p>

<!--<p sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')"><a th:href="@{/leaders}">Leadership Meeting</a></p>-->





</body>
</html>